header {
  display: flex;
  padding: 2px 4px;

  margin: 12px auto;
  
  max-width: 640px;

  position: sticky;
  z-index: 99999;

  justify-content: space-between;

  background-color: var(--s0);
  border: 2px solid var(--s1);
  border-radius: 32px;

  > nav {
    display: flex;
    justify-content: center;
    gap: 12px;

    > a {
      padding: 6px;
      display: flex;
      flex-direction: row;
      justify-content: center;

      height: fit-content;
      margin: auto;

      color: var(--fg0);

      text-decoration: none;

      border-radius: 32px;
      
      > span {
        line-height: 24px;

      }

      > svg {
        width: 24px;
        height: 24px;
        margin-right: 4px;
      }

      &:hover {
        background-color: var(--s1);
      }
    }
  }

  > a {
    padding: 8px 16px;
    line-height: 24px;

    display: flex;
    justify-content: center;

    color: var(--fg0);
    font-weight: bold;
    text-decoration: none;

    gap: 8px;

    &:hover {
      text-decoration: underline;
    }
  }
}
  
@media only screen and (min-width: 640px) {
  header {
    top: 12px;
  }
}


@media only screen and (max-width: 640px) {
  header {
    position: fixed;
    width: calc(100% - 32px);
    max-width: unset;
    
    margin: 12px;

    bottom: 0px;

    justify-content: space-around;

    nav {
      width: 100%;
      justify-content: space-around;

      a {
        justify-content: center;
        flex-direction: column;
        width: 100%;
        text-align: center;

        svg {
          margin: 0 auto !important;
        }
      }
    }

    a {
      display: none;
    }
  }
}
