#search {
  width: 100%;

  font-size: 1.1em;
  padding: 4px 0.55em;
  border-radius: 1.1em;

  border: 1px solid #000;

  margin-bottom: 24px;
}

.search-results__items > li {
  list-style-type: none;

  padding: 0.55em;
  border-radius: 0.55em;

  border: 1px solid var(--s1);

  background-color: var(--s0);

  > .search-results__item > a {
    color: var(--fg0);
    font-weight: bold;
  }
}
