@import "_map";

.downloads {
  display: flex;
  flex-direction: column;

  > nav {
    display: flex;
    flex-direction: column;

    padding: 8px 0;

    > a {
      text-decoration: none;
      line-height: 1.4;

      &:hover {
        text-decoration: underline;
      }

      &::before {
        color: var(--fg0);
        content: "";
        display: block;
        background: url('/assets/glyphs/download.svg') no-repeat;
        width: 1.2em;
        height: 1.2em;
        float: left;
        margin-right: 4px;
      }
    }
  }
}

