{% extends "base.html" %}

<!-- Head -->
{% block head %}
<meta name="description" content="{{page.description}}" />

<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
  crossorigin=""
/>
<script
  src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""
></script>
{% endblock head %}

<!-- Content -->
{% block content %}

<div>
  <h1 property="name">
    {{ page.title }} {% if page.extra.category %} ({{page.extra.category}}) {%
    endif %}
  </h1>

  <div>
    <p>
      {% if page.extra.distance %}
      <b>Distance:</b> &approx;{{page.extra.distance.amount |
      round(precision=1)}} {{ page.extra.distance.unit }} {% endif %}
    </p>
  </div>

  {% if page.extra.aliases %}
  <p>
    <b>Aliases: </b>
    {{ page.extra.aliases | join(sep=", ")}}
  </p>
  {% endif %}
</div>
<hr />

<div class="content">
  <section class="route">
    <div>
      <h2>Map</h2>
      <div class="interactiveMap">
        <noscript>The interactive map requires JavaScript.</noscript>

        <div class="map" id="map"></div>

        <script>
          var map = L.map("map");

          L.tileLayer(
            "https://basemap.nationalmap.gov/arcgis/rest/services/USGSTopo/MapServer/tile/{z}/{y}/{x}",
            {
              maxZoom: 16,
              attribution:
                '<a href="https://usgs.gov/" target="_blank" rel="noreferrer">U.S. Geological Survey</a> | <a href="{{ page.extra.source.url }}" target="_blank" rel="noreferrer">{{ page.extra.source.name }}</a>',
            }
          ).addTo(map);

          fetch("index.geojson")
            .then((response) => response.json())
            .then((data) => {
              var geojson = L.geoJSON(data).addTo(map);
              map.fitBounds(geojson.getBounds());
            });
        </script>
      </div>
    </div>

    <div class="downloads">
      <h2>Downloads</h2>

      <nav>
        <a href="index.geojson" download>Download .geojson</a>
        <a href="index.gpx" download>Download .gpx</a>
        <a href="index.kml" download>Download .kml</a>
      </nav>
    </div>

    Route data provided by
    <a href="{{ page.extra.source.url }}" target="_blank" rel="noreferrer"
      >{{ page.extra.source.name }}</a
    >.
    <hr />
  </section>

  <article>{{page.content | safe }} {% endblock content %}</article>
</div>
